*.*~
__pycache__/
*.pkl
data/
data*/
**/*.egg-info
.python-version
.idea/
.vscode/
.DS_Store
_build/
**/results/**
**/StarCraft2_*/**
test.*
*.out
*.err
**/__MACOSX/**
*.log
*.png
/ablation_results
/extra_results
